@media screen and (max-width:1400px){
    #profile{
        height: 84vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    #profile{
        display: block;
        margin-bottom: 0 10%;
    }
    section, .section-container{
        height: fit-content;
    }
    section{
        margin: 0 10%;
    }
    .section_pic_container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .section_text_p1{
        margin-top: 10rem ;
    }
    .about-containers p{
        margin-top: 0;
        text-align: justify;
    }
}

@media screen and (max-width:600px){
    #contact, footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    .about-containers, .btn-container{
        flex-wrap: wrap;
    }
    .logo{
        font-size: 1.5rem;
    }
    .section_pic_container{
        width: auto;
        height: 40vw;
        justify-content: center;
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .about-containers p{
        font-size: smaller;
        text-align: justify;
    }
    footer{
        margin-top: 20rem;
    }


}